# python virtual envs
venv
# game directory
game
__pycache__
.idea
*.iml
*.xml
*.xml
*.iml
auto-clicker/.idea/misc.xml
*.xml
*.c
bot_fill_adjs_lists_C/
auto-bot_adjs_lists/src/img/screenshots/last_pos.txt
auto-bot_adjs_lists/src/img/screenshots/pos.png
auto-bot_adjs_lists/src/img/screenshots/pos_final.png
